<!DOCTYPE HTML>
<title>טבלת הליגה</title>
<style>
	li {
		display: flex;
	}
</style>
<section class="box rotate">
	<section>
		<h1 class="fc main-title "><span class="all-text"><span class="text">ליגת העל 2016/17</span></span></h1>
		<article class="league-table-section" ng-controller="israeliLeage">
			<div ng-show="!pageLoad"></div>

			<table style="width: 100%;">
				
<thead style="direction: rtl">
					<tr>
						<th class="iposition">מקום</th><th class="name" style="width: 17%">קבוצה</th><th class="gamesPlayed">משחקים</th><th class="wins">נצחונות</th><th class="draws">תיקו</th><th class="losses">הפסדים</th><th class="goals">ש זכות</th><th class="goalsMinus">ש חובה</th><th class="points">נקודות</th>
					</tr>
				</thead>		

				<tbody class="common-table league-table">

					<tr class="teams-up" ng-repeat="t in myTeams">

						<td class="iposition">{{$index + 1}}</td>
						<td class="name"><a href="{{t.link}}" target="_blank"><img ng-src="img/{{t.img}}" width="25" height="25" title="{{t.name}}" class="iconTeamCircle rotate">&nbsp{{t.name}}</a></td>

						<td>{{myTablePoints1[t.name].gamesPlayed}}</td>
						<td>{{myTablePoints1[t.name].wins}}</td>
						<td>{{myTablePoints1[t.name].draws}}</td>
						<td>{{myTablePoints1[t.name].losses}}</td>
						<td>{{myTablePoints1[t.name].goals}}</td>
						<td>{{myTablePoints1[t.name].goalsMinus}}</td>
						<td class="pointsTable">{{myTablePoints1[t.name].points}}</td>
						<!--		<td ng-repeat="x in myTablePoints1 desc">{{myTablePoints1[t.name].points}}</td> -->
					</tr>
				</tbody>
			</table>
			<!--<div class="notes">**אם קיים הפחתת נקודות או הערות כלליות</div>-->
			</div>
		</article>
	</section>
</section>

<div class="circleIcon">
<li ng-controller="israeliLeage">
	<div ng-repeat="t in myTeams" class="table" style="text-align: center;">
		<a href="{{t.link}}" target="_blank"> <img ng-src="img/{{t.img}}" width="60" height="60" title="{{t.name}}" class="iconTeamCircle rotate">
		<p>
			{{t.name}}
		</p> </a>
	</div>
</li>
</div>
