
				<section class="fc common-section grid-1-2 ">
					<section class="fc main">
						<h1 class="fc main-title "><span class="all-text"><span class="text">ליגת העל 2016/17</span></span></h1>
						<article class="league-table-section">
							<table class="common-table league-table" ng-controller="israeliLeage">

								<colgroup>
									<col class="iposition">
									<col class="name">
									<col class="games-played">
									<col class="wins">
									<col class="draws">
									<col class="losses">
									<col class="score-for">
									<col class="total-points">
								</colgroup>
								<thead>
									<tr>
										<th class="iposition"></th><th class="name">קבוצה</th><th class="games-played">מש</th><th class="wins">נצ</th><th class="draws">ת</th><th class="losses">הפ</th><th class="score-for">שערים</th><th class="total-points">נק</th>
									</tr>
								</thead>
								<tbody>
									<tr class="teams-up">
										<td class="iposition">1</td><td ng-repeat="t in myTeams| filter: { name: 'ביתר ירושלים' }" class="name"><a href="{{t.link}}" target="_blank" style="color: yellow">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">2</td><td ng-repeat="t in myTeams| filter: { name: 'בני יהודה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: orange">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">3</td><td ng-repeat="t in myTeams| filter: { name: 'בני סכנין' }" class="name"><a href="{{t.link}}" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">4</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל אשקלון' }" class="name"><a href="{{t.link}}" target="_blank" style="color: purple">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">5</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל באר שבע' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">6</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל חיפה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">7</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל כפר-סבא' }" class="name"><a href="{{t.link}}" target="_blank" style="color: green">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">8</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל רעננה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">9</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל תל אביב' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">10</td><td ng-repeat="t in myTeams| filter: { name: 'מ.ס אשדוד' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">11</td><td ng-repeat="t in myTeams| filter: { name: 'מכבי חיפה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: green">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">12</td><td ng-repeat="t in myTeams| filter: { name: 'מכבי פתח תקוה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: blue">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr class="teams-down">
										<td class="iposition">13</td><td ng-repeat="t in myTeams| filter: { name: 'מכבי תל אביב' }" class="name"><a href="{{t.link}}" target="_blank" style="color: yellow">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">14</td><td ng-repeat="t in myTeams| filter: { name: 'עירוני קרית שמונה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: blue">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
								</tbody>
							</table><div class="notes"></div>
						</article>