<!DOCTYPE HTML>
<title>סטטיסטיקות</title>
<div>
	<section class="fc group-table">
		<div class="pre-title">
			<h2>סטיסטיקות קבוצתיות</h2>
		</div>
		<article class="one-column">
			<table class="common-table data-row-6">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=9">שערים לפי דקות</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>0-15</th><th>15-30</th><th>30-45</th><th>45-60</th><th>60-75</th><th>75-90</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/742?league=157">בית"ר ירושלים</a></td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/745?league=157">בני יהודה</a></td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/4008?league=157">בני סכנין</a></td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=9">
				<span class="text">לרשימה המלאה</span>
			</a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=10">כל כמה דקות כובשת</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>דקות</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>1000000</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>1000000</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>1000000</td>
					</tr>
				</tbody>
			</table>
			<a class="common-more" href="/stats?leagueId=2343&amp;stat=10"><span class="text">לרשימה המלאה</span></a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=11">כל כמה דקות סופגת</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>דקות</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>1000000</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>1000000</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>1000000</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=11"><span class="text">לרשימה המלאה</span></a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=12">אחוזי הצלחה בבית</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>הצלחה</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>0%</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=12"><span class="text">לרשימה המלאה</span></a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=13">אחוזי הצלחה בחוץ</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>הצלחה</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>0%</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=13"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=14">אחוז ניצחונות כשכובשת ראשונה</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>ניצחונות</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/742?league=157">בית"ר ירושלים</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/745?league=157">בני יהודה</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/4008?league=157">בני סכנין</a></td><td>0%</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=14"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=15">אחוז ניצחונות כשלא כובשת ראשונה</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>ניצחונות</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/742?league=157">בית"ר ירושלים</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/745?league=157">בני יהודה</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/4008?league=157">בני סכנין</a></td><td>0%</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=15"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=16">אחוז שערים בבעיטות חופשיות</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>שערים</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/742?league=157">בית"ר ירושלים</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/745?league=157">בני יהודה</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/4008?league=157">בני סכנין</a></td><td>0%</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=16"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=17">אחוז שערים בנגיחות</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>שערים</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/742?league=157">בית"ר ירושלים</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/745?league=157">בני יהודה</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/4008?league=157">בני סכנין</a></td><td>0%</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=17"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=20">כרטיסים צהובים למשחק</a>
				</caption>
				<thead>
					<tr>
						<th>שופט</th><th>צהובים</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=20"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=21">כרטיסים אדומים למשחק</a>
				</caption>
				<thead>
					<tr>
						<th>שופט</th><th>אדומים</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=21"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=18">ממוצע קהל ביתי</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>קהל</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>0</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=18"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=19">אחוז ניצול פנדלים</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>ניצול</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/742?league=157">בית"ר ירושלים</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/745?league=157">בני יהודה</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/4008?league=157">בני סכנין</a></td><td>0%</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=19"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=22">שערים למשחק בית</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>שערים</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>0</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=22"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=23">שערים למשחק חוץ</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>שערים</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>0</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=23"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=24">אחוז השערים שבושלו</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>שערים</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/742?league=157">בית"ר ירושלים</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/745?league=157">בני יהודה</a></td><td>0%</td>
					</tr>
					<tr>
						<td><a href="/team/4008?league=157">בני סכנין</a></td><td>0%</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=24"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=25">שערים לאצטדיון</a>
				</caption>
				<thead>
					<tr>
						<th>אצטדיון</th><th>שערים</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
					<tr>
						<td></td><td></td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=25"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column odd">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=26">ממוצע הבקעות למשחק</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>הבקעות</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>0</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=26"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
		<article class="two-column even">
			<table class="common-table data-row-1">
				<caption class="section-title">
					<a href="/stats?leagueId=2343&amp;stat=27">ממוצע ספיגות למשחק</a>
				</caption>
				<thead>
					<tr>
						<th>קבוצה</th><th>ספיגות</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a href="/team/749?league=157">מ.ס. אשדוד</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/738?league=157">הפועל תל אביב</a></td><td>0</td>
					</tr>
					<tr>
						<td><a href="/team/8143?league=157">הפועל רעננה</a></td><td>0</td>
					</tr>
				</tbody>
			</table><a class="common-more" href="/stats?leagueId=2343&amp;stat=27"><span class="text">לרשימה המלאה</span>
				</a>
		</article>
	</section>


</div>

