body, .wrap, .up, .middle, .down, header, span, article, ol, footer, h1, width, div, nav, ul, li, h1, h2, h3, h4, h5, h6, hr, a, p {
	margin: 0;
	padding: 0;
}
html {
	background: url("../images/messi2.png") no-repeat center center fixed;
	background-size: cover;

	/*
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 */
}
body {
	font-family: Arial, Helvetica, serif;
	font-size: 100%;
}
.topHeader ul {
	direction: rtl;
	text-align: center;
}
.topHeader li {
	float: right;
	list-style: none;
	width: 20%;
	margin: 20px 0;
}
.topHeader ul li a {
	text-decoration: none;
	font-weight: bold;
}
.topHeader ul li  :hover {
	color: #4e92a7;
	border-radius: 5px;
	background: darkgray;
	padding: 10px;
	transition-duration: 0.4s;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	}
.dateTime {
   margin: 10px;
}
tbody tr td:hover{
	background-color: white;
	color:gray;
}
/*---------------end header-----------------*/
section {
	/*direction: rtl;*/
	width: 80%;
	margin: 0 auto;
	color: white;
	font-size: 1em;
	opacity: 0.9;
}
section a {
	opacity: 1.5;
	text-decoration: none;
	color: #eaeaea;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.common-table {
	table-layout: fixed;
	width: 100%;
}

.common-table thead th {
	background-color: #ececec;
	height: 20px;
	line-height: 18px;
	color: #252525;
	font-size: 15px;
	font-family: 'almoni-bold', arial;
	font-style: normal;
	font-weight: normal;
}
.common-table th {
	text-overflow: clip;
}
.common-table th, .common-table td, .common-table li {
	padding: 9px 7px;
	text-align: right;
}

.common-table {
	direction: rtl;
}
.main-title {
	margin: 2%;
	text-align: center;
}

/*---------------end table-----------------*/
/*---------------games-----------------*/

section .round-games {
	width: 70%;
	margin: 0 auto;
}
li {
	list-style: none;
}
.common-form, .section-title,.pre-title {
	text-align: center;
	margin: 1%;
	color: #eaeaea;
}
.fc article {
	width: 100%;
	direction: rtl;
	padding: 1%;
}
.fc article li {
	width: 32%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*---------------end games-----------------*/
/*--------------footer------------*/
footer .copyrighting {
	color: white;
	font-size: 1em;
	opacity: 0.7;
	text-align: left;
	position: absolute;
	bottom: 2%;
	left: 3%;
}

/*------------------------end footer---------------------*/
@media screen and (max-width: 700px) {
	section {
		width: 90%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 600px) {
	section {
		width: 100%;
		margin: 0 auto;
	}
	footer .copyrighting {
		position: static;
	}
}