<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
		<title>Israeli Leage</title>
		<meta name="author" content="yaron">
		<link rel="stylesheet" href="css/style.css"/>
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
	</head>
	<body>
		<div class="wrap">
			<div class="backImage">
				<header>
					<div class="topHeader">
						<nav>
							<ul>
								<li>
									<a href="ballendar.html">ראשי</a>
								</li>
								<li>
									<a href="games.html">משחקים</a>
								</li>
								<li>
									<a href="teams.html">קבוצות</a>
								</li>
								<li>
									<a href="statistics.html">סטטיסטיקה</a>
								</li>

							</ul>
						</nav>
					</div>

					<div class="dateTime">
						<iframe src="http://free.timeanddate.com/clock/i5bt8v2b/n1514/tlil/fceee/tct/pct/tt1/tw0/td2" frameborder="0" width="132" height="18" allowTransparency="true"></iframe>
						<!--<iframe src="http://free.timeanddate.com/clock/i5bt44wg/n1514/szw110/szh110/hoc09f/hbw0/hfc09f/cf100/hnce1ead6/fas30/fdi66/mqc000/mql15/mqw4/mqd98/mhc000/mhl15/mhw4/mhd98/mmc000/mml10/mmw1/mmd98/hhs2/hms2/hsv0" frameborder="0" width="110" height="110"></iframe>-->
						<br>
						<br>
						<br>
					</div>

				</header>

				<section class="fc common-section grid-1-2 ">
					<section class="fc main">
						<h1 class="fc main-title "><span class="all-text"><span class="text">ליגת העל 2016/17</span></span></h1>
						<article class="league-table-section">
							<table class="common-table league-table" ng-controller="israeliLeage">

								<colgroup>
									<col class="iposition">
									<col class="name">
									<col class="games-played">
									<col class="wins">
									<col class="draws">
									<col class="losses">
									<col class="score-for">
									<col class="total-points">
								</colgroup>
								<thead>
									<tr>
										<th class="iposition"></th><th class="name">קבוצה</th><th class="games-played">מש</th><th class="wins">נצ</th><th class="draws">ת</th><th class="losses">הפ</th><th class="score-for">שערים</th><th class="total-points">נק</th>
									</tr>
								</thead>
								<tbody>
									<tr class="teams-up">
										<td class="iposition">1</td><td ng-repeat="t in myTeams| filter: { name: 'ביתר ירושלים' }" class="name"><a href="{{t.link}}" target="_blank" style="color: yellow">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">2</td><td ng-repeat="t in myTeams| filter: { name: 'בני יהודה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: orange">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">3</td><td ng-repeat="t in myTeams| filter: { name: 'בני סכנין' }" class="name"><a href="{{t.link}}" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">4</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל אשקלון' }" class="name"><a href="{{t.link}}" target="_blank" style="color: purple">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">5</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל באר שבע' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">6</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל חיפה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">7</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל כפר-סבא' }" class="name"><a href="{{t.link}}" target="_blank" style="color: green">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">8</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל רעננה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">9</td><td ng-repeat="t in myTeams| filter: { name: 'הפועל תל אביב' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">10</td><td ng-repeat="t in myTeams| filter: { name: 'מ.ס אשדוד' }" class="name"><a href="{{t.link}}" target="_blank" style="color: red">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">11</td><td ng-repeat="t in myTeams| filter: { name: 'מכבי חיפה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: green">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">12</td><td ng-repeat="t in myTeams| filter: { name: 'מכבי פתח תקוה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: blue">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr class="teams-down">
										<td class="iposition">13</td><td ng-repeat="t in myTeams| filter: { name: 'מכבי תל אביב' }" class="name"><a href="{{t.link}}" target="_blank" style="color: yellow">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
									<tr>
										<td class="iposition">14</td><td ng-repeat="t in myTeams| filter: { name: 'עירוני קרית שמונה' }" class="name"><a href="{{t.link}}" target="_blank" style="color: blue">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
									</tr>
								</tbody>
							</table><div class="notes"></div>
						</article>
						<!--
						<tbody>
						<tr class="teams-up">
						<td class="iposition">1</td><td class="name"><a href="http://www.beitarfc.co.il/" target="_blank" style="color: yellow">בית"ר ירושלים</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">2</td><td class="name"><a href="http://bnei-yehuda.net" target="_blank" style="color: orange">בני יהודה</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">3</td><td class="name"><a href="/team/4008?league=157" style="color: red">בני סכנין</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">4</td><td class="name"><a href="https://ashkelonfootball.wordpress.com/" target="_blank" style="color: purple">הפועל אשקלון</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">5</td><td class="name"><a href="http://www.hapoelb7.co.il/" target="_blank" style="color: red">הפועל באר שבע</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">6</td><td class="name"><a href="http://www.hhaifa.com/" target="_blank" style="color: red">הפועל חיפה</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">7</td><td class="name"><a href="http://www.hapoel-kfs.org.il/" target="_blank" style="color: green">הפועל כפ"ס</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">8</td><td class="name"><a href="http://www.hapoel-raanana.co.il/" target="_blank" style="color: red">הפועל רעננה</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">9</td><td class="name"><a href="http://www.htafc.co.il/" target="_blank" style="color: red">הפועל תל אביב</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">10</td><td class="name"><a href="https://www.facebook.com/fcashdodofficial/" target="_blank" style="color: red">מ.ס. אשדוד</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">11</td><td class="name"><a href="http://mhaifafc.com/" target="_blank" style="color: green">מכבי חיפה</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">12</td><td class="name"><a href="http://www.m-pt.co.il/" target="_blank" style="color: blue">מכבי פתח תקוה</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr class="teams-down">
						<td class="iposition">13</td><td ng-repeat="t in myTeams| filter: { name: 'מכבי תל אביב' }" class="name"><a href="{{t.link}}" target="_blank" style="color: yellow">{{t.name}}</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						<tr>
						<td class="iposition">14</td><td class="name"><a href="http://iturank8.co.il/" target="_blank" style="color: blue">עירוני קרית שמונה</a></td><td class="games-played">0</td><td class="wins">0</td><td class="draws">0</td><td class="losses">0</td><td class="score-for">0-0</td><td class="total-points">0</td>
						</tr>
						</tbody> -->
						<section class="fc common-section grid-1-2 ">
							<section class="fc main">
								<h1 class="fc main-title "><span class="all-text"><span class="text">ליגת העל 2016/17</span></span></h1>
								<article class="league-table-section">
									<table class="common-table league-table" ng-controller="israeliLeage">

										<colgroup>
											<col class="iposition">
											<col class="name">
											<col class="games-played">
											<col class="wins">
											<col class="draws">
											<col class="losses">
											<col class="score-for">
											<col class="total-points">
										</colgroup>
										<thead>
											<tr>
												<th class="iposition"></th><th class="name">קבוצה</th><th class="games-played">מש</th><th class="wins">נצ</th><th class="draws">ת</th><th class="losses">הפ</th><th class="score-for">שערים</th><th class="total-points">נק</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-controller="israeliLeage" class="teams-up">
												<td ng-repeat-start="t in myTeams" class="name"> {{t.name}} </td>
												<td> {{airport.city}} </td>
												<td ng-repeat-end> {{t.img}} </td>
											</tr>
										</tbody>
										<!-- -->
										<footer>
											<p class="copyrighting">
												&copy; Copyright  by yaron
											</p>
										</footer>
			</div>
		</div>

		<script src="node_modules/angular/angular.js"></script>
		<script src="js/config.js"></script>
		<script src="App/Controllers/score.js"></script>
		<script src="App/Controllers/teams.js"></script>
		<script src="node_modules/bootstrap"></script>
		<script src="node_modules/jquery"></script>
	</body>
</html>
